<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Divvy">
  <meta name="author" content="kp">

  <title>Divvy</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body bgcolor="#7DD1B0" role="document">

<h2>Apologies</h2>

<p>Divvy is unable to compile a list of relevant files due to an issue with the network drives.</p>

<p>Is S drive available?</p>

</body>
</html>